.privacy-polycies{
    color:rgba(0, 0, 0, 0.61);
    display: inline-flex;
}
.privacy-wrapper{
    padding: 20px;
    background-color: #fff;
    margin-top: 10px;
}
.footer{
    background-color: #fff;
    margin-top: 10px;
}

.footer-text-after::after{

    content: "";
    height: 1px;
    width: 80px;
    /* background-color: orange; */
    border: 1px solid;
    display: block;
}
.logoimage{
    height:90px;
}
@media only screen and (max-width: 990px) {
    .logoimage{
        height: 62px;
        width: 210px;
    }
    .privacy-wrapper{
        padding:0px;
    }

}