<div class="footer" style="background-image:url('../../assets/Symbol.png');">
  <div class="footer-wrapper p-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center justify-content-center">
          <div class="privacy-wrapper">
            <ul class="list-unstyled privacy-polycies">
              <li>Privacy Plocies |</li>
              <li> | Terms & Conditions</li>
            </ul>
            <hr>
          </div>

        </div>
        <div class="col-lg-12">
          <div class="logo-wrapper text-center pt-3 pb-5">
            <img src="../../assets/logo.png" class="img-responsive" style="height:90px;">
          </div>
        </div>
        <div class="all-section-wrapper justify-content-center">
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about-us">

                  <h4 class="pb-1 footer-text-after ">About Us</h4>
                  
                      <p class="text-justify">When you’re designing your "About Us" page, avoid industry jargon and replace it with an authentic voice -- yours -- to describe
                          your product or service. Sure, it needs to be polished and free of errors, but it should always sound
                          friendly and real</p>
                    

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about-us">
                  <h4 class="pb-1 footer-text-after ">Countact Us</h4>
                  <p class="text-justify">There's a lot going well for Tune's contact page: the beautiful design, the calls-to-action, the clearly displayed contact information,</p>
                  <ul>
                    <li>contact@businesstoys.in</li>
                    <li> +91 7710 893 041-042 </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about-us">
                  <h4 class="pb-1 footer-text-after">Our Products </h4>
                  <p class="text-justify">you know what's sucky about regular flashlights? They only come in two colors: white or that yellowish-white that reminds us of the teeth of an avid coffee drinker. What fun is that kind of flashlight? We'll answer that: NO FUN AT ALL.</p>
                  <ul>
                    <li>Quiz</li>
                    <li>Internship</li>
                    <li>Compitions</li>
                    <li>Hackathon</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="bottom-fotter p-2" style="background:linear-gradient(to bottom left,rgba(236,123,94,1),rgba(235,73,84,1));">
    <div class="text-center">
      <ul class="list-unstyled">
        <li>
          <button style="background-color:transparent;color:#fff;border-radius:50%;height:60px; width:60px;margin:5px;border:1px solid #fff;">
              <i class="fa fa-gmail" style="font-size: 25px;"></i>
          </button>
          <button style="background-color:transparent;color:#fff;border-radius:50%;height:60px; width:60px;margin:5px;border:1px solid #fff;">
              <i class="fa fa-facebook" style="font-size: 25px;"></i>
          </button>
          <button style="background-color:transparent;color:#fff;border-radius:50%;height:60px; width:60px;margin:5px;border:1px solid #fff;">
              <i class="fa fa-fa-google-plus" style="font-size: 25px;"></i>
          </button>
            
        </li>
      </ul>
    </div>
  </div>
</div>