<div class="maincard">
  <div class="maincardtitlediv text-center">
    <h4 class="maincardtitle">Score:60
      <span class="spanclass">3/5</span>Time:00:00</h4>
  </div>
  <div class="quizwrapper">
  <div class="shortdescriptiondiv ">
    <p class="shortdescription text-center">question me lorem ipsum likhna jaroori he kya?question me lorem ipsum likhna jaroori he kya?question me lorem ipsum likhna jaroori he kya?</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-12">
      <div>
        <img class="questionimage" src="https://www.bmw-me.com/content/dam/bmw/common/all-models/m-series/m4-convertible/2017/images-and-videos/images/BMW-m4-convertible-images-and-videos-img-890x501-01.jpg/_jcr_content/renditions/cq5dam.resized.img.890.medium.time1510607719094.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="listcontainer">
        <ul class="list-unstyled listclass">
          <li>
            <div class="choicebutton text-center">Option 1</div>
          </li>
          <li>
            <div class="choicebuttoncorrect text-center">Option 2</div>
          </li>
          <li>
            <div class="choicebuttonwrong text-center">Option 3</div>
          </li>
          <li>
            <div class="choicebutton text-center">Option 4</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="startbutton text-center">
  Skip
</div>