<section>
  <div class="background-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <div class="logo-wrapper text-center mt-5" >
                <img src="../../assets/logo.png">
              </div>
              <div class="text-center">
                <button class="google">Google Login</button>
              </div>
              <div class="col-sm-12">
                  <div class="divider">
                    <div class="text text-center mt-4">
                      <p>Or</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-12">
                <div class="login-card-wrapper">
                  <div class="login-form-wrapper">
                    <div class="form p-5">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Email</label>
                                  <input type="Email" class="form-control mytxt" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="forexample@gmail.com">
                                </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Password</label>
                                  <input type="text" class="form-control mytxt" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="**************">
                                </div>
                          </div>
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <button class="login">Log Me In</button>
                                  </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="text-center mt-3">
                                  <p>Don't Have An Account ? <b><a style="color:#707070" routerLink="/register">Register Here</a></b> | <a style="color:rgb(226, 48, 57);">Forgot Password ?</a></p>
                                </div>
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
        </div>
      </div>
        
    </div>
    
  </div>
</section>