<app-header></app-header>
<div class="header-image">
  <div class="overlay"></div>
  <div class="header-content container">
    <h1 class="title text-center">
      <span class="title-border">Lorem Ipsum Text</span>
    </h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="filter wrapper rounded filter-section">
        <div class="body-section">
          <h3>Filter here</h3>
          <hr>
          <div class="filter-measures">
            <ul>
              <li>
                <button class="filter-pills filter-pills-button" (click)="clickf(i);" *ngFor="let item of categorywisefilters; let i=index">
                  <i class=" filter-icons-active large material-icons pl-3">{{item.icon}}</i>
                  <a class="filter-names">{{item.catname}}</a>
                </button>
              </li>
              <!-- <li>
                <button class="filter-pills">
                  <i class=" filter-icons large material-icons pl-3">computer</i>
                  <a class="filter-names">Engineering Students</a>
                </button>
              </li>
              <li>
                <button class="filter-pills">
                  <i class=" filter-icons large material-icons pl-3">equalizer</i>
                  <a class="filter-names">Management Students</a>
                </button>
              </li>
              <li>
                <button class="filter-pills">
                  <i class=" filter-icons large material-icons pl-3">school</i>
                  <a class="filter-names">Post Graduates</a>
                </button>
              </li>
              <li>
                <button class="filter-pills">
                  <i class=" filter-icons large material-icons pl-3">business</i>
                  <a class="filter-names">Corporate</a>
                </button>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-1">
      <div class="filter wrapper rounded card-section">
        <div class="body-section text-center">
          <div class="pills-scroll">
            <div class="pills-container">
              <button class="pills pills-button" (click)="clickp(i);" *ngFor="let item of sectionwisefilters; let i=index">
                {{item.menu}}
              </button>
            </div>
          </div>
          <hr>
        </div>
        <div class="container-fluid">
          <div class="main-body-wrapper" id="targetAll">
            <h3>All</h3>
            <hr>
            <div class="card-outter">
              <div class="card-container">
                <div *ngFor="let card of cards" class="mycard">
                  <div class="overlaywholecard">
                    <div class="title-icon-div">
                      <i class=" title-icons large material-icons pl-3">book</i>
                      <i class=" title-icons large material-icons pl-3">share</i>
                    </div>
                    <button class="overlaywholecard-pills-active">View</button>
                  </div>
                  <div class="card-image">
                    <div class="overlaycard"></div>
                  </div>
                  <div class="card-save">
                    <div class="card-title">
                      <h3 class="title-class">Title Here</h3>
                    </div>
                    <div class="card-description">
                      this is card body and the description is as follows
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-body-wrapper" id="targetQuiz">
            <h3>Quiz</h3>
            <hr>
            <div class="card-outter">
              <div class="card-container">
                <div *ngFor="let card of cards" class="mycard">
                  <div class="overlaywholecard">
                    <div class="title-icon-div">
                      <i class=" title-icons large material-icons pl-3">book</i>
                      <i class=" title-icons large material-icons pl-3">share</i>
                    </div>
                    <button class="overlaywholecard-pills-active">View</button>
                  </div>
                  <div class="card-image">
                    <div class="overlaycard"></div>
                  </div>
                  <div class="card-save">
                    <div class="card-title">
                      <h3 class="title-class">Title Here</h3>
                    </div>
                    <div class="card-description">
                      this is card body and the description is as follows
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-body-wrapper" id="targetCompetition">
            <h3>Competition</h3>
            <hr>
            <div class="card-outter">
              <div class="card-container">
                <div *ngFor="let card of cards" class="mycard">
                  <div class="overlaywholecard">
                    <div class="title-icon-div">
                      <i class=" title-icons large material-icons pl-3">book</i>
                      <i class=" title-icons large material-icons pl-3">share</i>
                    </div>
                    <button class="overlaywholecard-pills-active">View</button>
                  </div>
                  <div class="card-image">
                    <div class="overlaycard"></div>
                  </div>
                  <div class="card-save">
                    <div class="card-title">
                      <h3 class="title-class">Title Here</h3>
                    </div>
                    <div class="card-description">
                      this is card body and the description is as follows
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-body-wrapper" id="targetHackathon">
            <h3>Hackathon</h3>
            <hr>
            <div class="card-outter">
              <div class="card-container">
                <div *ngFor="let card of cards" class="mycard">
                  <div class="overlaywholecard">
                    <div class="title-icon-div">
                      <i class=" title-icons large material-icons pl-3">book</i>
                      <i class=" title-icons large material-icons pl-3">share</i>
                    </div>
                    <button class="overlaywholecard-pills-active">View</button>
                  </div>
                  <div class="card-image">
                    <div class="overlaycard"></div>
                  </div>
                  <div class="card-save">
                    <div class="card-title">
                      <h3 class="title-class">Title Here</h3>
                    </div>
                    <div class="card-description">
                      this is card body and the description is as follows
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter-button-div">
  <button class="filter-button">Filter</button>
</div>