.header-image{
    height:300px;
    background-image:url('../../assets/log-Reg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}
.header-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.overlay{
    position: absolute;
    width: 100%;
    height:100%;
    background:linear-gradient(to bottom left,rgba(236,123,94,0.9),rgba(235,73,84,0.9));
}
.title{
    color:white;
    font-weight: lighter;
    font-family: 'Oxygen', sans-serif;
}
.title-border{
    border: 6px solid #fff;
    padding:10px 25px 10px 25px; 
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.filter-names{
    padding-left:19px;
}
.filter-section{
    background-color:#fff;
}
.filter-measures{
    padding-left:2px;
}
.filter-measures button{
    text-align:left;
}
.filter-icons{
    position: absolute;
    left:25px;
    color:black; 
}
.filter-icons-active{
    position: absolute;
    left:25px;
}
.filter-pills-active{
    background:linear-gradient(to left,rgba(236,123,94,0.9),rgba(235,73,84,0.9));
    border: 1px  solid #EB4954;

    padding: 13px 50px 13px 50px;
    color:white; 
    border-radius: 50px;
    margin-right:5px;
    margin-bottom:12px;
    width:100%;
    position: relative;
    transition: 0.5s all ease-in;
}
.filter-pills{
    background:white;
    border: 1px solid #707070 ;
    padding: 13px 50px 13px 50px;
    color: #707070;
    border-radius: 50px;
    margin-right:5px;
    margin-bottom:12px;
    width:100%;
    position: relative;
}
.card-section{
    background-color:#fff;
}
.wrapper{
    margin-top:15px;
    padding:10px;
   
}
.body-section h3{
    font-size:19px !important;
    font-family: 'Oxygen', sans-serif;
    font-weight:bold;
    padding-top:10px;
}
.hr{
    color:#707070;
}

.pills-active{
    background:linear-gradient(to bottom left,rgba(236,123,94,0.9),rgba(235,73,84,0.9));
    border: 1px  solid #EB4954;
    padding: 3px 28px 3px 28px;
    color:white; 
    border-radius: 50px;
    margin-right:5px;
    transition: 0.5s all ease-in;
}
.pills{
    background:white;
    border: 1px solid #EB4954 ;
    padding: 3px 28px 3px 28px;
    color: #EB4954;
    border-radius: 50px;
    margin-right:5px;
    /* transition: 0.5s all ease-in; */
}
.main-body-wrapper h3{
    font-size:19px !important;
    font-family: 'Oxygen', sans-serif;
    font-weight:bold;
    padding-top:10px;
}
.card-outter{
    overflow:scroll;
    overflow-y:hidden; 
    padding-bottom: 5px;
}
.card-outter::-webkit-scrollbar-thumb{
    background-color:transparent;
    transition: background-color 10s ease-in;
}
.card-outter:hover::-webkit-scrollbar-thumb{
    background-color:rgba(201, 196, 196, 0.705);
}
.card-container{
    display: inline-flex;
}
.mycard{
    border: 1px solid #707070;
    border-radius: 5px;
    height: 280px;
    width: 230px;
    box-shadow: 0 3px 24px #70707047;
    margin-right:15px;
    position: relative;
}
.card-image{
    height:40%;
    /* background:url(../../assets/cardimage.jpg); */
    padding:0;
    margin:0;
    border-radius:5px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -154px;
}
.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-save{
    /* height:18%; */
    background:linear-gradient(to left,rgba(236,123,94,0.9),rgba(235,73,84,0.9));
}
.card-title{
    color:white;
}
.title-class{
    text-transform: capitalize;
    padding:10px;
    font-weight: bolder
}
.title-icons{
    padding: top 18px;
    z-index:7;
    font-size: 35px;
}
.card-description{
    padding-right:10px;
    padding-left: 10px;
    font-weight: bold;
}
.overlaycard{
    position: absolute;
    width: 100%;
    height:100%;
    background:linear-gradient(to bottom ,rgba(255,255,255,0),rgba(0,0,0,0.72));
}
.overlaywholecard{
    position:absolute;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.72);
    z-index: 1;
    opacity:0;
    transition: opacity 0.2s ease-in;
}
.overlaywholecard button{
    position: absolute;
    bottom: 10px;
    transform: translateY(100px);
    transition: 0.2s all ease-in;
    transition-delay: 0.1s;
}
.overlaywholecard-pills-active{
    background:linear-gradient(to left,rgba(236,123,94,0.9),rgba(235,73,84,0.9));
    border: 1px  solid #EB4954;
    padding: 13px 50px 13px 50px;
    color:white; 
    border-radius: 50px;
    margin-right:5px;
    margin-bottom:12px;
    width:63%;
    margin-left:40px;
}
.mycard:hover .overlaywholecard{
    opacity:1;
}
.mycard:hover .overlaywholecard button{
    transform: translateY(0);
}
.mycard:hover .title-icons{
    z-index:300;
}
.title-icon-div{
    position: absolute;
    color:white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.filter-button-div{
    display:none;
}

.filter-section-mobile{
    display:none;
}
.close-filter-button{
    box-shadow: 0 3px 24px #70707047;
}
.fixed-side-filter{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 23%;
    transform: translateY(0);
    transition: 0.5s all ease-in;
}
.fixed-side-filter-close {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 23%;
    transform: translateY(-100%);
    transition: 0.5s all ease-in;
}
@media only screen and (max-width: 990px) {

    .title{
            font-size: 30px;
    }
    .pills-scroll{
        overflow:scroll;
        overflow-y:hidden; 
        padding: 20px;
    }
    .filter-section{
        display:none;
    }
    .filter-section-mobile-close{
        transform:translateY(100%);
        transition: 0.5s all ease-in;
    }
    .filter-section-mobile-ani{
        transform:translateY(0);
        transition: 0.5s all ease-in;  
    }
    .filter-section-mobile{
        display:block;
        position: fixed;
        top:0;
        z-index: 4;
        margin:0;
        padding:10px;
        background: #fff;
        height:100%;
    }
    .pills-scroll::-webkit-scrollbar-thumb{
        background-color:transparent;
        transition: background-color 10s ease-in;
    }
    .pills-scroll:hover::-webkit-scrollbar-thumb{
        background-color:rgba(201, 196, 196, 0.705);
    }
    .pills-container{
        display: inline-flex;
    }  
    .filter-button-div{
        display: block;
        position: fixed;
        bottom:12px;
        right:25px;
        z-index: 3;

    }
    .filter-button{
        border:0;
        border-radius:50px;
        height:60px;
        width:60px;
        color:white;
        background:linear-gradient(to left,rgba(236,123,94,1),rgba(235,73,84,1));
        box-shadow: 0 3px 14px #707070cc;
    }
}
