.logo-wrapper img{
    width: 290px;
}
.background-wrapper{
    background-image: url('../../assets/Symbol.png');
    background-size: cover;

}

.google{
    border-radius: 50px;
    padding-top:9px;
    padding-bottom:9px;
    padding-right: 30px;
    padding-left: 30px;
    border:none;
    color: white;
    background: rgb(226, 48, 57);
    box-shadow: 0 6px 14px #70707077;
    margin-top:60px
}
.login-card-wrapper{
    border:1px solid #70707077;
    margin:10%;
    margin-top:20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 8px #707070;
}
.form{
    padding:20px;
}
.login{
    border-radius: 50px;
    padding-top:9px;
    padding-bottom:9px;
    padding-right: 30px;
    padding-left: 30px;
    border:none;
    color: white;
    background:linear-gradient(to bottom left,rgba(236,123,94,1),rgba(235,73,84,1));
    box-shadow: 0 6px 14px #70707077;
    
}
.mytxt{
    border: none;
    border-bottom: 1px solid #ec5455;
}
.dobclass button{
    border:none;
    border-bottom:1px solid #ec5455;
    padding:4.4px;
}
.dobclass button:hover{
    border:none;
    background:none;
    color:#707070;
    border-bottom:1px solid #ec5455;
    padding:4.6px;
}

@media only screen and (max-width: 990px) {
    .login-card-wrapper {
        margin: 0;
    }
}





