<section>
  <div class="background-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo-wrapper text-center mt-5">
            <img src="../../assets/logo.png" routerLink="/home">
          </div>
          <div class="col-sm-12">
            <div class="login-card-wrapper">
              <form (ngSubmit)="data(allformdata)" #allformdata="ngForm">
                <div class="login-form-wrapper">
                  <div class="form">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control mytxt" id="fname" aria-describedby="emailHelp" placeholder="Your First Name " name="fname"
                              #fname="ngModel" ngModel required autocomplete="off">
                            <div *ngIf="fname.touched && !fname.valid">
                              <small id="fname" class="form-text text-danger" *ngIf="fname.errors.required">First Name is required</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control mytxt" id="lname" aria-describedby="emailHelp" placeholder="Your Last Name" name="lname"
                              ngModel #lname="ngModel" required autocomplete="off">
                            <div *ngIf="lname.touched && !lname.valid">
                              <small id="lname" class="form-text text-danger" *ngIf="lname.errors.required">Last Name is Required</small>
                            </div>
                          </div>
                          <div class="form-group dobclass">
                            <label for="dob">Date of Birth</label>
                            <!-- <input type="text" class="form-control mytxt" id="dob" aria-describedby="emailHelp" placeholder="12-12-1995" name="dob" ngModel  > -->
                            <div class="input-group">
                              <input [minDate]="minDate" [maxDate]="maxDate" id="dob" type="text" aria-describedby="emailHelp" class="form-control mytxt"
                                placeholder="yyyy-mm-dd" name="dob" ngModel #dob="ngModel" ngbDatepicker #d="ngbDatepicker"
                                required>
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                  <i class="material-icons">perm_contact_calendar</i>
                                </button>
                              </div>
                            </div>
                            <div *ngIf="dob.touched && !dob.valid">
                              <small id="dob" class="form-text text-danger" *ngIf="dob.errors.required">Date of Birth is Required</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="Email" class="form-control mytxt" id="email" aria-describedby="emailHelp" placeholder="Example@gmail.com " name="email"
                              #email="ngModel" ngModel required autocomplete="off" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <div *ngIf="email.touched && !email.valid">
                              <small id="email" class="form-text text-danger" *ngIf="email.errors.required">Email is required</small>
                              <small id="email" class="form-text text-danger" *ngIf="email.errors.pattern">Email is Invalid</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control mytxt" id="password" aria-describedby="emailHelp" placeholder="************* "
                              name="password" ngModel #password="ngModel" required autocomplete="off" minlength="6" maxlength="16">
                            <div *ngIf="password.touched && !password.valid">
                              <small id="password" class="form-text text-danger" *ngIf="password.errors.required">Password is Required</small>
                              <small id="password" class="form-text text-danger" *ngIf="password.errors.minlength">Password Minimum Length should be 6 Characters</small>
                              <small id="password" class="form-text text-danger" *ngIf="password.errors.maxlength">Password Maximum Length should be 16 Characters</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="re-pass">Re-Type Password</label>
                            <input type="password" class="form-control mytxt" id="re-pass" aria-describedby="emailHelp" placeholder="************ " name="repassword"
                              #repassword="ngModel" ngModel required autocomplete="off" validateEqual="password" (keyup)="validatepassword(repassword.value,password.value);">
                            <div *ngIf="repassword.touched && !repassword.valid">
                              <small id="repassword" class="form-text text-danger" *ngIf="repassword.errors.required">Re-Type Password is required</small>
                            </div>
                            <small id="re-password" class="form-text text-danger" *ngIf="!passwordValid">Password Match Falid (Please Enter the same Password)</small>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="phno">Phone No</label>
                            <input type="text" class="form-control mytxt" id="phno" aria-describedby="emailHelp" placeholder="+91 1234567890" name="phone"
                              ngModel #phone="ngModel" required autocomplete="off" minlength="10" maxlength="10">
                            <div *ngIf="phone.touched && !phone.valid">
                              <small id="phone" class="form-text text-danger" *ngIf="phone.errors.required">Phone Number is Required</small>
                              <small id="phone" class="form-text text-danger" *ngIf="phone.errors.minlength">Mobile Number should be 10 digit long</small>
                              <small id="phone" class="form-text text-danger" *ngIf="phone.errors.maxlength">Mobile Number should be 10 digit long</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="sate">State</label>
                            <select class="form-control mytxt" id="state" name="state" ngModel #state="ngModel" required autocomplete="off">
                              <option>Andra Pradesh</option>
                              <option>Goa</option>
                              <option>Karnataka</option>
                              <option>Kerala</option>
                              <option>Maharshtra</option>
                              <option>Orissa</option>
                              <option>Tamil Nadu</option>
                              <option>Telangana</option>
                            </select>
                            <div *ngIf="state.touched && !state.valid">
                              <small id="state" class="form-text text-danger" *ngIf="state.errors.required">Please Select the State</small>
                              <!-- <small id="re-password" class="form-text text-danger" *ngIf="email.errors.pattern">Email is Invalid</small> -->
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control mytxt" id="city" name="city" ngModel #city="ngModel" required autocomplete="off">
                              <option>Bengaluru</option>
                              <option>Bhubaneshwar</option>
                              <option>Chennai</option>
                              <option>Hydrabad</option>
                              <option>Mangaluru</option>
                              <option>Mumbai</option>
                              <option>Mysore</option>
                              <option>Punji</option>
                              <option>Raichur</option>
                              <option>Thiruvananta Puram</option>
                              <option>Tumkur</option>
                              <option>Vizag</option>
                            </select>
                            <div *ngIf="city.touched && !city.valid">
                              <small id="password" class="form-text text-danger" *ngIf="city.errors.required">Please Select the City</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="college">College</label>
                            <select class="form-control mytxt" id="college" name="college" ngModel #college="ngModel" required autocomplete="off">
                              <option>Acharya Institute Of Technology</option>
                              <option>Sri Krishna College Of Engineering</option>
                              <option>Saptagiri Engineering College</option>
                              <option>Acharya Institute Of Mnagement Studies</option>
                              <option>Geetam's University</option>
                            </select>
                            <div *ngIf="college.touched && !college.valid">
                              <small id="college" class="form-text text-danger" *ngIf="college.errors.required">Please Select the College</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="course">Course</label>
                            <select class="form-control mytxt" id="course" name="course" ngModel #course="ngModel" autocomplete="off" required autocomplete="off">
                              <option>BE/BTech</option>
                              <option>BBA</option>
                              <option>MBA</option>
                              <option>MTech</option>
                              <option>PGDM</option>
                              <option>BCA</option>
                            </select>
                            <div *ngIf="course.touched && !course.valid">
                              <small id="course" class="form-text text-danger" *ngIf="course.errors.required">Please Select the Course</small>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="sem">Sem</label>
                            <select class="form-control mytxt" id="sem" name="sem" ngModel #sem="ngModel" required autocomplete="off">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                            </select>
                            <div *ngIf="sem.touched && !sem.valid">
                              <small id="re-password" class="form-text text-danger" *ngIf="sem.errors.required">Please Select the Sem</small>
                              <!-- <small id="re-password" class="form-text text-danger" *ngIf="email.errors.pattern">Email is Invalid</small> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="text-center">
                            <button [disabled]="allformdata.invalid" type="submit" class="login">Register</button>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="text-center mt-3">
                            <p>Already Have An Account ?
                              <b>
                                <a style="color:#707070" routerLink="/login">Login Here</a>
                              </b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="message-close mymessage">
  <div class="row">
    <div class="col-lg-12">
      <div class="message-continer text-center">
        {{editResponse}}
      </div>
    </div>
  </div>
</div>